<!DOCTYPE html>
<html>
	<head>
		<title>WoW Factor</title>
		<link type='text/css' rel='stylesheet' href='/style.css'/>
		<link rel="shortcut icon" href="/favicon.ico?v=2" />
	</head>
    <div class="wrapper">
		<div class="header">
            <div class="logo">
                <a href='#'><img src="http://i.imgur.com/cvDbN6M.png" /></a>
			</div>
            <div class="nav">
                <aa href='/' /> Home </aa>
                <a href= "/character" /> Character </a>
                <a href = "/guild" /> Guild </a>
                <a href='/realms' /> Realms </a>
                 <a href='/pvpLeaderboards' /> PvP Leaderboards </a>
            </div>
           
        </div>
		<div id="main">

            <div id="slogan">" Discover the WoW Factor "</div>
            <h1>World of Warcraft ranking website.</h1>
			<div id="image">
			    <img src="images/illidan.gif" />
			</div>
		</div>

	</div>
	</body>
</html>
