<!DOCTYPE html>
<html>
<body>
<title>WoW Factor - PvP Leaderboards</title>

<link type='text/css' rel='stylesheet' href='../style.css'/>

<div class="wrapper">
    <div class="header">
            <div class="logo">
                <a href='../#'><img src="http://i.imgur.com/cvDbN6M.png" /></a>
			</div>
            <div class="nav">
                <a href='/' /> Home </a>
                <a href= "/character" /> Character </a>
                <a href = "/guild" /> Guild </a>
                <a href='/realms' /> Realms </a>
                 <aa href='/pvpLeaderboards' /> PvP Leaderboards </aa>
            </div>
    </div>
    
    <div id="main">
		<div class="pvpButton">			
			 <a href='/arena2v2' /> 2v2 Leaderboard </a>
			 <a href='/arena3v3' /> 3v3 Leaderboard </a>
			 <a href='/arena5v5' /> 5v5 Leaderboard </a>
		     <a href='/RBG' /> RBG Leaderboard </a>	
	    </div>
	  </div>

</div>
</body>
</html>
